@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
    color: #1c1c1c;
}

.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 20px;
}

.App h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

@keyframes fade-in-step {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Step {
    animation: fade-in-step 1s ease-in-out forwards;
    margin-bottom: 75px;
}

.Step__title {
    font-weight: 400;
    text-align: center;
    margin-bottom: 22px;
}

.button-row {
    display: flex;
    justify-content: center;
}

button {
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #456591;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
    margin-right: 30px;
    padding: 7px 22px;
    cursor: pointer;
    font-size: 1.2em;
}

button:last-child {
    margin-right: 0;
}

button:hover,
button.active,
.Setting__checkbox.active {
    background: linear-gradient(#ffaa24, #e38b00);
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-color: #6a3900;
}

button::-moz-focus-inner {
    border: 0;
}

.RandomizationModeButtons__row-1 {
    margin-bottom: 14px;
}

.Setting {
    width: 440px;
    margin: 0 auto 16px auto;
    height: 24px;
}

.Setting__contents {
    cursor: pointer;
    display: inline-block;
    padding-right: 12px;
}

.Setting__checkbox {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #707070;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    float: left;
    position: relative;
    top: 3px;
    margin-right: 12px;
}

.Setting__checkbox.active {
    border-color: #c17a0b;
}

.Setting__checkbox img {
    width: 90%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.NumberInput {
    background: transparent;
    border: none;
    border-bottom: 2px solid #454545;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 0 2px 0;
    width: 42px;
    margin: 0 6px;
    text-align: center;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}

.NumberInput.populated {
    border-bottom-color: #db7100;
}

.randomize-button {
    width: 260px;
    height: 60px;
    font-size: 1.5em;
}

.randomize-button img {
    height: 100%;
    opacity: 0.8;
}

.randomize-button:disabled {
    cursor: default;
    background: #b4b4b4;
    border-color: #818181;
    text-shadow: none;
    opacity: 0.9;
}

.teams-container {
    width: 840px;
    overflow: hidden;
    height: 500px;
}

.TeamRoster {
    float: left;
    width: 50%;
}

.TeamRoster h3 {
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    margin-bottom: 30px;
}

.Player {
    margin: 0 0 26px 100px;
    padding-left: 18px;
    border-left: 3px solid rgba(0, 0, 0, 0.6);
    animation: fade-in-step 1s ease-in-out forwards;
}

.Player__content {
    opacity: 0;
    animation: fade-in-step 1s ease-in-out forwards;
    animation-delay: .6s;
}

.Player__name {
    display: block;
    color: #000000;
    font-size: 1.5em;
}

.Player__details {
    font-size: 0.8em;
    color: #727272;
    position: relative;
    bottom: 3px;
}

.error {
    display: flex;
    align-items: center;
    width: 620px;
    margin: 0 auto 30px auto;
    padding: 16px 24px;
    font-size: 0.9em;
    background: #f7c4c4;
    border-radius: 3px;
    color: #320909;
}

.error img {
    width: 22px;
    margin-right: 22px;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    color: #727272;
    position: fixed;
    padding-top: 4px;
    bottom: 0;
    height: 60px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a,
.footer a:visited {
    color: #727272;
    margin-left: 5px;
}

@media screen and (max-width: 400px) {
    .button-row {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 70%;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .Step {
        margin-bottom: 50px;
    }

    .RandomizationModeButtons__row-1 {
        margin-bottom: 0;
    }

    .AdditionalSettings {
        width: 90%;
        margin: 0 auto;
    }

    .Setting {
        width: 100%;
    }

    .teams-container {
        width: 100%;
    }

    .TeamRoster {
        float: none;
        width: 100%;
        margin-bottom: 50px;
    }

    .teams-container {
        height: 950px;
    }

    .Player {
        margin-left: 40px;
    }

    .error {
        width: 95%;
    }
}